* {
    box-sizing: border-box;
}

html {
    background-image: url('./Images/keyboardbackground.jpg');
    
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hamburger {
    display: inline-block;
    cursor: pointer;
}
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(118, 133, 102);
    margin: 6px 0;
    transition: 0.4s;
}

.bar1.change {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.bar2.change {opacity: 0;}
  
.bar3.change {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.who {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(78, 52, 89, 0.9);
    border-radius: 5px;
    
    margin-bottom: 50px;
}

.bio {
    text-align: left;
    line-height: 25px;
}

.pagetitle{
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Yeon Sung';
    font-size: 45px;
   
}

.photobox{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.profphoto {
    margin-top: 10px;
    display: inline-block;
    border: 2px solid black;
    height: 150px;
    border-radius: 2px;
}

.what {
    padding: 10px;
    text-align: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background: rgba(78, 52, 89, 0.9);
    margin-bottom: 50px;
    border-radius: 5px;
}

li{
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgb(77, 45, 90);
    -moz-box-shadow:    3px 3px 5px 6px rgb(58, 39, 66);
    -webkit-box-shadow: 3px 3px 5px 6px rgb(58, 39, 66);
    box-shadow:         3px 3px 5px 6px rgb(58, 39, 66);
    margin-bottom: 20px;
}

.project {
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

ul {
   list-style: none; 
   padding-left: 10px;
}

.techUsed{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.projname {
    font-family: 'Yeon Sung';
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    
}

.repoButtons{
    display: flex;
    flex-direction: column;
    font-family: 'Yeon Sung';
    justify-content: space-evenly;
    font-size: 20px;
}

.projectbutton {
    text-decoration: none;
    color: black;
    cursor: pointer;
    border: 1px solid black;
    background-color: rgba(88, 177, 212, 0.377);
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px;
    padding: 15px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: fit-content;
    height: fit-content;
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s; 
    transition: width 1s, height 1s, transform 1s;
  }

.screenshot {
    height: 100px;
}

.overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.8);
    color: #f1f1f1;
    /* width: 100%; */
    transition: 2s ease;
    opacity: 0;
  
    color: white;
    font-size: 20px;
    padding: 23% 0 0 0;
    text-align: center;
    z-index: 100;
  }

.description{
    font-size: 16px;
    color: #AD99AA;
    padding: 20px;
    font-family: 'Nanum Gothic';

}

.logo {
    height: 30px;
}

.logoButton {
    height: 30px;
    cursor: pointer;
}

.navbar {
    display:none;
}

nav.burger {
    display: none;
}

.burger  {
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-width: fit-content;
    margin-top: 3px;
    overflow: hidden;
    background-color: #4E3459;
    padding: 5px;
    z-index: 1;
    position: absolute;
    float: left;
}

button:focus{
    outline: none;
}

.burgerbutton {
    font-family: 'Yeon Sung';
    background-color:#4E3459; 
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 17px;
}

.barbutton{
    font-family: 'Yeon Sung';
    font-size: 25px;
    background-color:#4E3459; 
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    border-radius: 3px;
    
}

.footerspan{
    font-family: 'Nanum Gothic';
}

.footer{
    border-top: 2px solid black;
    background-color:#4E3459;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    padding: 10px;
}


@media screen and (min-width: 505px){
    .bar1, .bar2, .bar3 {
        display: none;
    }
    .hamburger{
        display: none;
    }

    .project {
        padding: 10px 10px 10px 0;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .screenshot {
        height: 200px;
        -webkit-transition: width 1s, height 1s, -webkit-transform 1s; 
        transition: width 1s, height 1s, transform 1s; 
    }

    .container:hover {
        -ms-transform: scale(1.25,1.25);
        -webkit-transform: scale(1.25,1.25);
        transform: scale(1.25,1.25);
        content: 'View Project';
    }
    
    .container:hover .overlay {
        opacity: 1;
      }

    nav.burger {
        display: none;
    }

    .navbar {
        height: fit-content;
        max-width: 100%;
        overflow: hidden;
        position: fixed;
        top: 0px;
        left: 0;
        right: 0;
        width: 100%;
        padding: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        z-index: 1;
        background-image: linear-gradient(to bottom right, rgb(66, 58, 65), #262626);
    }
    
    .who {
        position: relative;
        background: rgba(78, 52, 89, 0.9);
        top: 80px;
        padding: 10px;
        padding-bottom: 5px;
        margin-bottom:80px;
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
    }

    li{
        margin: 25px;
    }

    .bio{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .profphoto{
        height: 250px;
    }
    
    .description{
        font-size: 20px;
    }

    .what {
        top: 80px;
        position: relative;
        background: rgba(78, 52, 89, 0.9);
        text-align: center;
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        margin-bottom: 70px;
    }

    .repoButtons{
        display: flex;
        flex-direction: row;
        font-family: 'Yeon Sung';
        justify-content: space-evenly;
        font-size: 20px;
    }
    
    .projectbutton {
        text-decoration: none;
        color: black;
        cursor: pointer;
        border: 1px solid black;
        background-color: rgba(88, 177, 212, 0.377);
        padding: 5px;
        margin-top: 5px;
        border-radius: 10px;
        padding: 15px;
    }
}