* {
    box-sizing: border-box;
    
}

html {
    background-image: url('https://i.imgur.com/QHCScLZ.jpg');
    height: 700px;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    border-left: 5px solid rgb(1, 1, 68);
    background-color: rgba(191, 201, 209, 0.562);
}

.who {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;
    border-left: 5px solid rgb(1, 1, 68);
    background-color: rgba(191, 201, 209, 0.562);
}

.bio {
    text-align: left;
}

.whohead{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.who img {
    height: 120px;
}

.talk {
    
    text-align: center;
    padding: 10px;
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;
    border-left: 5px solid rgb(5, 5, 27);
    background-color: rgba(191, 201, 209, 0.562);
}

.what {
    
    text-align: center;
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;
    border-left: 5px solid rgb(5, 5, 27);
    background-color: rgba(191, 201, 209, 0.562);
}

.project {
    border-bottom: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.description {
    width: 250px;
    
}

.projname {
    text-align: left; 
}

.screenshot {
    height: 100px;
}

.logo {
    height: 15px;
}

.logoButton {
    height: 30px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}